//
//  Shared.xcconfig
//  SampleCLib
//
//  Created by Robert Patterson on 6/6/22.
//  Copyright © 2022 Robert Patterson. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "./lua-source/config/LuaVersion.xcconfig"

CONFIGURATION_BUILD_DIR_Release = $(PROJECT_DIR)/xcodebuild/release
CONFIGURATION_BUILD_DIR_Debug = $(PROJECT_DIR)/xcodebuild/test
CONFIGURATION_BUILD_DIR = $(CONFIGURATION_BUILD_DIR_$(CONFIGURATION))

CLANG_CXX_LANGUAGE_STANDARD = c++17
CLANG_CXX_LIBRARY = libc++

CLANG_WARN_DOCUMENTATION_COMMENTS = YES
COPY_PHASE_STRIP = YES
DEAD_CODE_STRIPPING = YES

ALWAYS_SEARCH_USER_PATHS = NO
HEADER_SEARCH_PATHS = "$(PROJECT_DIR)/lua-source/lua-$(LUA_VERSION)/src" "$(PROJECT_DIR)/lua-source/$(LUABRIDGE_VERSION)/Source"

// Current minimum plugin target OS (not actually used by Lua, so just needs to be low enough to prevent warnings)
MACOSX_DEPLOYMENT_TARGET = 10.13
